apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: nguyengoctu/payment-service:latest
          env:
            - name: PORT
              value: "7001"
            - name: DISABLE_PROFILER
              value: "1"
