apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendation-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: recommendation-service
  template:
    metadata:
      labels:
        app: recommendation-service
    spec:
      containers:
        - name: recommendation-service
          image: nguyengoctu/recommendation-service:1.0.6
          env:
            - name: PORT
              value: "7005"
            - name: DISABLE_PROFILER
              value: "1"
            - name: PRODUCT_CATALOG_SERVICE_ADDR
              value: product-catalog-service:7002
